{% extends "main/base.html" %}
{%block body %}
<div class="home">
<p>this is Brian's site</p>
</div>
{% endblock %}

{% block  content %}
<div  class='view'>
    <h1>Welcome to the Trading Site</h1>
    <h2>Trading is Risky</h2>
    <p >This is where the market's performance will appear. Stay updated on the latest market trends.</p>

    <div style=>
        <button style="padding: 10px 20px; background-color: green; color: white; border: none; border-radius: 5px; cursor: pointer;">
            View Market Data
        </button>
    </div>
</div>
{% endblock %}
